a {
	text-decoration: none;
}

.header {
	background-image: url('../../images/bkg5.jpg');
	background-size: cover;
	background-position: center;
}

.header_text {
	/*height: 100px;*/
	/*background-image: url("images/x1.png");*/
	/*background-position: center;*/
	/*background-size: cover;*/
	margin: 100px 0;
	text-transform: uppercase;
	font-family: 'Paytone One', sans-serif;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
}

.navbar-brand-img {
	height: 40px;
}

.burger-menu-btn {
	height: 40px;
}

.offcanvas-body {
	text-transform: uppercase;
}

.dropdown-toggle {
	color: black;
	font-weight: 700;
}

.nav-link:focus,
.nav-link:hover {
	color: black;
}

.dropdown-menu {
	border: 0 !important;
}

@media (max-width: 767px) {
	.offcanvas-end {
		width: 50%;
	}
}
